[submodule "wildfly-version-scanner"]
	path = wildfly-version-scanner
	url = https://github.com/milo2012/wildfly-version-scanner.git
[submodule "cisco-asa-firmware/asafw"]
	path = cisco-asa-firmware/asafw
	url = https://github.com/milo2012/asafw.git
